main {
  display: flex;
  flex-direction: column;
  padding-left: 10% !important;
  margin-top: 2%;
  padding-bottom: 5%;
  height: auto;
  border: 3px solid silver;
}

h1 {
  font-size: 35px;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
}

button {
  padding: 1px 15px !important;
  background-color: transparent;
  border-bottom: 5px solid black !important;
  border-right: 5px solid black !important;
  font-family: cursive !important;
  box-shadow: 4px 2px 10px black !important;
}

.scores h2 {
  display: flex;
  font-size: 20px;
  gap: 12px;
}

#score-list-holder {
  border: 4px solid black;
  width: 100%;
  border-radius: 3px;
}

#score-list-holder div {
  padding: 2px 2px 2px 7px;
}

#score-list-holder div:nth-child(even) {
  background-color: gainsboro;
}

form {
  display: flex;
  flex-direction: column;
  align-content: end;
}

form button {
  display: flex;
  margin-top: 5px;
  align-self: flex-end;
  text-align: center;
}

input {
  border: 3px solid black;
  padding: 5px;
}

input::placeholder {
  font-weight: 600;
  font-family: cursive;
  color: #000;
}
